[Unit]
Description=Docker Ingress Routing Daemon
After=sysinit.target docker.service
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/local/bin/docker-ingress-routing-daemon --install --preexisting --iptables-wait --ingress-gateway-ips 10.0.0.2
Restart=always

[Install]
WantedBy=multi-user.target
