[Unit]
Description=Docker Ingress Routing Daemon
After=sysinit.target dockerd.service docker.service
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/local/bin/docker-ingress-routing-daemon --ingress-gateway-ips [OPTIONS] --install --preexisting
Restart=always

[Install]
WantedBy=multi-user.target
